.service-hero {
  height: 80vh;
  background: #dff460;
}

.feature-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.feature-card:hover {
  transform: translateY(-8px);
}

.process-card {
  background: #f8f9ff;
  padding: 20px;
  border-radius: 12px;
}

.testimonial-card {
  background: #f8f9ff;
  padding: 30px;
  border-radius: 15px;
  max-width: 600px;
  margin: auto;
}


.cta-section {
  padding: 80px 0;
  background: #dff460;
}

.how-works {
  background-image: url('../../assets/img7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}