.work-section{
    background-image: url('../../assets/img4.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.why-card-max {
    background-image: url('../../assets/img8.png');
    background-repeat: no-repeat;
    background-size: cover;
}